{% extends "base.jinja" %} {% block body %}
<div class="container index mt-4">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Bienvenidos al taller de Ahorros</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center">
        Abajo tienes dos botones, el primero te llevara a la documentacion de la
        API para que puedas probar mediante
        <a href="https://www.postman.com/" target="_blank">POSTMAN</a> o
        <a href="https://insomnia.rest/" target="_blank">INSOMNIA</a> entre
        otros sin la necesidad de un front y la pagina del frontEnd para que
        puedas hacer la prueba completa del taller. Espero sea de tu agrado y no
        dudes en contactarme si tienes alguan duda no dudes en
        <a href="https://www.linkedin.com/in/ederiveroman/" target="_blank"
          >contactarme</a
        >
      </p>
    </div>
  </div>
  <div class="row buttons">
    <div class="col-md-6 button">
      <a
        class="text-center swagger btn"
        href="https://taller-ahorros.herokuapp.com/api/docs"
        target="_blank"
      ></a>
    </div>
    <div class="col-md-6 button">
      <a class="react btn" href="" target="_blank"></a>
    </div>
  </div>
</div>
{% endblock %}
